# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Uploaded files
wwwroot/uploads/

# Legacy solution file recreated by stale IDE state
/StudentMangmentSystem.slnx